.btn-init-1{
    background:#BAA896;
    margin: auto;
}

.btn-init-1:hover{
    color:white;
}

.adjust-pos-1{
    margin: auto;
    width: 15%;
}

.panel-init-list{
    border-color: #2B616D;
}

.my-font{
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
}

.my-font-1{
    font-weight: 600;
    font-size: 150%;
}

.my-font-2{
    font-weight: 400;
    font-size: 130%;
}

.my-panel{
    color: #ffffff;
    padding: 5px 20px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.vote-info{
    width: 90%;
    left: 5%;
    margin: auto;
    margin-top: 10px;
}

.vote-info-title{
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
    font-size: 110%;
    font-style: bold;
    color: #e38b75;
}

.vote-info-title-2{
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
    font-size: 110%;
    font-style: bold;
    color: #e8a735;
}

.vote-info-elem{
    color: #e6ccb5;
    font-size: 90%;
    font-style: italic;
    display: inline;
    margin-right: 30px;
}

