.my_heading{
    margin:auto;
    text-align: center;
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #fcc875;
}

.my_p_1{
    margin:auto;
    text-align: center;
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
    font-size: 120%;
}

.my_p_2{
    color: #BAA896;
}

.my_input{
    margin:auto;
    text-align: center;
    width:300px;
}

.btn-view{
    background: #2b616d;
    color: white;
    width:20%;
    margin-top: 20px;
    margin-left:28%;
    margin-right:4%;
}

.btn-return{
    background: #e38b75;
    color: white;
    width:20%;
    margin-top: 20px;
}

.btn-return-1{
    background: #e38b75;
    color: white;
    width:20%;
    margin-left: 40%;
    margin-top: 20px;
}