<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Another voting</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href=".{{ url_for('static', filename='css/font.css') }}" />
    <link rel="stylesheet" href=".{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href=".{{ url_for('static', filename='css/hover.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <div class="row navi">
        <div class="col-md-3 col-sm-3 col-xs-3">
            <h3 class="navi-proj-name"><a class=" hvr-wobble-horizontal">Another Vote</a></h3>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-9 navi-element-group">
            <!-- <h5 ><a class="navi-element hvr-sink">Account</a></h5>
            <h5 ><a class="navi-element hvr-sink">Dashboard</a></h5>
            <h5 ><a class="navi-element hvr-sink">Logout</a></h5>
            <h5 ><a class="navi-element hvr-sink">Username</a></h5> -->
            <a class="navi-element hvr-sink" data-toggle="modal" data-target="#myModalLogin">Login</a>
            <a class="navi-element hvr-sink" data-toggle="modal" data-target="#myModalRegister">Register</a>
        </div>
    </div>

    <div class="row">
        <hr style="width=100%;">
    </div>

    <div class="row">
        <div class="quick-start">
            <div class="col-md-6 col-sm-6">
                <h1 class="start-now">Start Now</h1>
                <h3 class="explanation-1">You don't need to login.</h3>
                <h3 class="explanation-1">You can directly vote for someone</h3>
                <h3 class="explanation-1">or initiate a new vote.</h3>
            </div>
            <div class="col-md-6 col-sm-6">
                <a class="btn-big btn-init hvr-grow" style="margin-top: 30px;" href="/setup">Initiate a vote</a>
                <br>
                <a class="btn-big btn-vote hvr-grow" style="margin-top: 30px;" data-toggle="modal" data-target="#myModalCastAVote">Vote</a>
            </div>
        </div>
    </div>

    <div class="row">
        <hr style="width=100%;">
    </div>

    <div class="row">

        <div class="col-md-4 col-sm-4 function-intro">
            <div class="circle" style="background: #2B616D;">
                <div class="home-icon hvr-grow-rotate">
                    <a><i class="fa fa-rocket fa-5x adjust-2" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="system-explanation">
                <h3 style="color: #2B616D;">Quick Start</h3>
                <p >Without login. Initiate a new vote or vote for someone in the shortest time. The problem is that malicious voter may break it easily.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 function-intro">
            <div class="circle" style="background: #B2DBD5;">
                <div class="home-icon hvr-grow-rotate">
                    <a><i class="fa fa-unlock-alt fa-5x adjust-1 adjust-2" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="system-explanation">
                <h3 style="color: #2B616D;">Vote With Account</h3>
                <p >You have to login to vote or initiate a new vote. It maybe slow but the account system can help you better management the vote initiated by you. The problem is that your vote will expose to our server.</p>
            </div>
        </div>

        <div class="col-md-4 col-sm-4 function-intro">
            <div class="circle" style="background: #FA8D62;">
                <div class="home-icon hvr-grow-rotate">
                    <a><i class="fa fa-lock fa-5x adjust-1 adjust-2" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="system-explanation">
                <h3 style="color: #2B616D;">Super Secure</h3>
                <p >Using this, nobody can know your vote. Even our server don't know your vote. But it has some restriction.</p>
            </div>
        </div>

    </div>

    <div class="row">
        <hr style="width=100%;">
    </div>


</div>

<div class="container">
      <!-- Modal Login-->
      <div class="modal fade" id="myModalLogin" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
              <h4 class="my-modal-h4"><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <form enctype="multipart/form-data" action="/login" method="POST" id="login-form" role="form">
                <div class="form-group">
                  <label for="usrname"><span class="glyphicon glyphicon-envelope"></span> Email</label>
                  <input type="text" class="form-control" name="login-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                  <input type="password" class="form-control" name="login-password" placeholder="Enter password">
                </div>
                <!-- <div class="checkbox">
                  <label><input type="checkbox" value="" id="login-rememberMe">Remember me</label>
                </div> -->
                  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span>Login</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              <!-- <p>Forgot <a href="#">Password?</a></p> -->
            </div>
          </div>
          
        </div>
      </div> 
      
      <!-- Modal Sign in-->
      <div class="modal fade" id="myModalRegister" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
              <h4 class="my-modal-h4"><span class="glyphicon glyphicon-file"></span> Sign up</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <form enctype="multipart/form-data" action="/register" method="POST" id="signup-form" role="form">
                <div class="form-group">
                  <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email*</label>
                  <!-- <span id="signup-email-ok" class="glyphicon glyphicon-ok signup-email-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"></span>
                  <span id="signup-email-invalid" class="glyphicon glyphicon-remove signup-email-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Invalid Email Address.</span>
                  <span id="signup-email-used" class="glyphicon glyphicon-remove signup-email-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> This email has already been used.</span> -->
                  <input type="text" class="form-control" name="signup-email" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="username"><span class="glyphicon glyphicon-user"></span> Username*</label>
                  <!-- <span id="signup-username-ok" class="glyphicon glyphicon-ok signup-username-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"> </span>
                  <span id="signup-username-empty" class="glyphicon glyphicon-remove signup-username-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Username should not be empty.</span> -->
                  <input type="text" class="form-control" name="signup-username" placeholder="Enter username" >
                </div>
                <div class="form-group">
                  <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password*</label>
                  <!-- <span id="signup-password-ok" class="glyphicon glyphicon-ok signup-password-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"></span>
                  <span id="signup-password-empty" class="glyphicon glyphicon-remove signup-password-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Password should not be empty.</span> -->
                  <input type="password" class="form-control" name="signup-password" placeholder="Enter password">
                </div>
                <div class="form-group">
                  <label for="checkPassword"><span class="glyphicon glyphicon-eye-open"></span> Check Password*</label>
                  <!-- <span id="signup-checkPassword-ok" class="glyphicon glyphicon-ok signup-checkPassword-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"></span>
                  <span id="signup-checkPassword-notMatch" class="glyphicon glyphicon-remove signup-checkPassword-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Password does not match.</span> -->
                  <input type="password" class="form-control" name="signup-checkPassword" placeholder="Check password">
                </div>
                  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span> Register</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              <!-- <p>Forgot <a href="#">Password?</a></p> -->
            </div>
          </div>
          
        </div>
      </div>
      
      <!-- Modal Update Info-->
      <div class="modal fade" id="myModalUpdateInfo" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
              <h4 class="my-modal-h4"><span class="glyphicon glyphicon-file"></span> Update Info</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <form enctype="multipart/form-data" action="/update_info" method="POST" id="update-info-form" role="form">
                <div class="form-group">
                  <label for="username"><span class="glyphicon glyphicon-user"></span> Username*</label>
                  <!-- <span id="update-info-username-ok" class="glyphicon glyphicon-ok update-info-username-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"> </span>
                  <span id="update-info-username-empty" class="glyphicon glyphicon-remove update-info-username-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Username should not be empty.</span> -->
                  <input type="text" class="form-control" name="update-info-username" placeholder="Enter username" >
                </div>
                <!-- <div class="form-group">
                    <label for="gender"><span class="glyphicon glyphicon-heart"></span> Gender*</label><br />
                    <input type="radio" class="update-info-gender" name="gender" value="male" checked="checked" />Male
                    <input type="radio" class="update-info-gender" name="gender" value="female"/>Female
                </div>
                <div class="form-group">
                    <label for="age"><span class="glyphicon glyphicon-leaf"></span> Age*</label></label>
                    <input type="number" class="form-control" id="update-info-age" min="0"/>
                </div> -->
                <div class="form-group">
                  <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password*</label>
                  <!-- <span id="update-info-password-ok" class="glyphicon glyphicon-ok update-info-password-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"></span>
                  <span id="update-info-password-empty" class="glyphicon glyphicon-remove update-info-password-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Password should not be empty.</span> -->
                  <input type="password" class="form-control" name="update-info-password" placeholder="Enter password">
                </div>
                <div class="form-group">
                  <label for="checkPassword"><span class="glyphicon glyphicon-eye-open"></span> Check Password*</label>
                  <!-- <span id="update-info-checkPassword-ok" class="glyphicon glyphicon-ok update-info-checkPassword-check" style="display:none; margin-left:40px; font-weight:bold; color:#4cae4c;"></span>
                  <span id="update-info-checkPassword-notMatch" class="glyphicon glyphicon-remove update-info-checkPassword-check" style="display:none; margin-left:40px; font-weight:bold; color:#d9534f;"> Password does not match.</span> -->
                  <input type="password" class="form-control" name="update-info-checkPassword" placeholder="Check password">
                </div>
                  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span>Confirm</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              <!-- <p>Forgot <a href="#">Password?</a></p> -->
            </div>
          </div>
          
        </div>
      </div>

      <!-- Modal Enter Vote ID to cast a vote-->
      <div class="modal fade" id="myModalCastAVote" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding:35px 50px;">
              <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
              <h4 class="my-modal-h4"><span class="glyphicon glyphicon-file"></span>Enter Vote URL</h4>
            </div>
            <div class="modal-body" style="padding:40px 50px;">
              <form id="update-info-form" role="form">
                <div class="form-group">
                  <input type="text" class="form-control" id="update-info-username" placeholder="Enter username" >
                </div>
                  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span>Confirm</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
              <!-- <p>Forgot <a href="#">Password?</a></p> -->
            </div>
          </div>
          
        </div>
      </div>
      
    </div>

</body>


</html>