<!DOCTYPE html>
<html lang="en-US">

<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Another Vote</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href=".{{ url_for('static', filename='css/hover.css') }}" rel="stylesheet" media="all">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- This is for this page only -->
        <link rel="stylesheet" href=".{{ url_for('static', filename='css/setup.css') }}">

        <!-- This is for date and time picker -->
        <link rel="stylesheet" href=".{{ url_for('static', filename='css/bootstrap-material-datetimepicker.css') }}">
        <script type="text/javascript" src="http://momentjs.com/downloads/moment-with-locales.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src=".{{ url_for('static', filename='js/bootstrap-material-datetimepicker.js') }}"></script>
        

        <!-- This is for navigation bar and font -->
        <link rel="stylesheet" href=".{{ url_for('static', filename='css/font.css') }}">
        <link rel="stylesheet" href=".{{ url_for('static', filename='css/index.css') }}">

        
    </head>

    <body>
        <div class="container">

        <div class="row navi">
            <div class="col-md-3 col-sm-3 col-xs-3">
                <h3 class="navi-proj-name"><a class=" hvr-wobble-horizontal" href="/">Another Vote</a></h3>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-9 navi-element-group">
                {% if session['user_id'] %}
                    <h5 ><a class="navi-element hvr-sink" href="/logout">Logout</a></h5>
                    <h5 ><a class="navi-element hvr-sink" href="/home">{{session['user_name']}}</a></h5>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <hr style="width=100%;">
        </div>

        <div class="row">

            <h1 class="my-h1">Initiate a new vote</h1>

            {%if warning %}
                <h1 class="my-h1">{{warning}}</h1>
            {% endif %}

            <form enctype="multipart/form-data" action="/create_vote" method="POST">

                {% if secure_level is equalto 1 %}
                    <input type="number" style="display:none;" name="secure_level" value="1">
                {% else %}
                    <input type="number" style="display:none;" name="secure_level" value="2">
                {% endif %}

                <label class="my_label"> Vote Name: </label>
                <input type="text" class="form-control" style="display:inline;width:300px;" name="vote_name" placeholder="Vote Name">
                <br><br>

                <label class="my_label"> Expiry Date:   </label>
                <input type="text" name="expire_time" id="min-date" class="form-control" data-dtp="dtp_A0qe6" style="display:inline;width:300px;">
                <br><br>

                <label class="my_label"> Choose a voting method:   </label>
                <select class="form-control" style="display:inline;width:300px;" name="vote_method">
                    <option value="1">Single</option>
                    <option value="2">Ranking</option>
                    <option value="3">Weight</option>
                    <option value="4">Majority</option>
                    <!-- <option value="random">Random</option>
                    <option value="weighted_random">Weighted Random</option> -->
                </select>
                <br><br>

                <label class="my_label"> Candidates List Upload: </label><!-- 
                <input type="radio" id="radio1" name="candidate_upload_type" value="online" checked>
                <label class="my_label_ratio" for="radio1">Online Submission</label>
                <input type="radio" id="radio2" name="candidate_upload_type" value="excel">
                <label class="my_label_ratio" for="radio2">Excel File</label>
                <input type="radio" id="radio3" name="candidate_upload_type" value="txt">
                <label class="my_label_ratio" for="radio3">Text File</label>
                <br> -->
                <!-- <label class="my_label">Candidate List: Choose a file (.txt .xls .xlsx):   </label>
                <input class="form-control" style="display:inline;width:300px;" id="uploadFile" placeholder="Choose File" disabled="disabled" />
                <div class="main btn btn-warning" style="border:0px;">
                    <span>Upload</span>
                    <input id="uploadBtn" class="choose_button" type="file" name="candidate_upload_file" accept=".txt, .xls, .xlsx">
                </div>
                <br> -->
                <textarea class="form-control" style="display:inline;width:80%; margin-top:10px; height:32px;" name="candidate_upload_text" onkeyup="adjust_textarea(this)"></textarea>
                <br><br>

                <label class="my_label"> Voter List Upload: </label><!-- 
                <input type="radio" id="radio4" name="voter_upload_type" value="online" checked>
                <label class="my_label_ratio" for="radio4">Online Submission</label>
                <input type="radio" id="radio5" name="voter_upload_type" value="excel"> 
                <label class="my_label_ratio" for="radio5">Excel File</label>
                <input type="radio" id="radio6" name="voter_upload_type" value="txt">
                <label class="my_label_ratio" for="radio6">Text File</label>
                <br>
                <label class="my_label">Voter List: Choose a file (.txt .xls .xlsx):   </label>
                <input class="form-control" style="display:inline;width:300px;" id="uploadFile2" placeholder="Choose File" disabled="disabled" />
                <div class="main btn btn-warning" style="border:0px;">
                    <span>Upload</span>
                    <input id="uploadBtn2" class="choose_button" type="file" name="voter_upload_file" accept=".txt, .xls, .xlsx">
                </div>
                <br> -->
                <textarea class="form-control" style="display:inline;width:80%; margin-top:10px; height:32px;" name="voter_upload_text" onkeyup="adjust_textarea(this)"></textarea>
                <br><br>

                <input class= "btn-big btn-submit hvr-grow " style="margin-right:40px;" type="submit" value="Submit">
                <a class="btn-big btn-discard hvr-grow" href="/" name="discard" type="submit" value="Discard">Discard</a>

            </form>

        </div>

        <div class="row">
            <hr style="width=100%;">
        </div>

        </div>
    </body>

    <script src=".{{ url_for('static', filename='js/setup.js') }}"></script>

</html>