.my_table{
    margin:auto;
    text-align: center;
    font-family: ProximaNovaSoft,Helvetica,Arial,sans-serif;
    font-weight: bold;
    width: 40%;
    left: 30%;
}

.table_heading{
    text-align:center;
    font-size: 120%
}

.table_elem_1{
    background:#baa896;
    color: white; 
}

.input_1{
    background:#baa896;
    color: white; 
    border:0px;
    font-size: 120%;
}

.input_1:hover{
    cursor:pointer;
    color: black;
}

.table_elem_2{
    background:white;
    color: #baa896;
}

.input_2{
    background:white;
    color: #baa896; 
    border:0px;
    font-size: 120%;
}

.input_2:hover{
    color: black;
    cursor:pointer;
}

.table_elem_3{
    font-size:130%;
}

.table_input{
    width:80px;
    margin:auto;
}